<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Draw it!</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script data-main="./javascripts/main" src="./javascripts/lib/require.js"></script>
</head>
<body class="clearfix">
<div class="toolbar">
    <button class="undo">Undo</button>
    <button class="redo">Redo</button>
    <button class="export">Export</button>
    <button class="save">Save</button>
</div>
<ul class="sidebar"></ul>
<div class="canvas">
</div>
<script type="text/template" id="sidebar">
    <li id="<%= cid %>">
        <img src="<%= image %>" alt=""/>
        <div class="name"><%= name %></div>
    </li>
</script>
<canvas width="1000" height="800" style="display: none"></canvas>
</body>
</html>