/**
 * Created by Cyril on 14-3-20.
 */

body
  background: #efefef
  padding: 0
  margin: 0
  -webkit-font-smoothing: subpixel-antialiased;
  font-family "Microsoft Yahei", Helvetica Neue, Helvetica, Arial
.clearfix
  zoom: 1

.clearfix:before
.clearfix:after
  display: table;
  line-height: 0
  content: ""

.clearfix:after
  clear: both

.sidebar
  width 252px
  min-height 40px
  list-style none
  margin 0
  padding  0
  padding-top 10px
  float left
  margin-left -10px
  margin-top -45px
  li
    padding 5px
    background #dddddd
    border 2px solid #ddd + 10%
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor -webkit-grab
    float left
    width 60px
    border-radius 3px
    text-align center
    margin-left 10px
    margin-bottom 10px
    &:hover
      background #dddddd + 20%
      border-color  #ddd - 20%
    .name
      font-size 12px
      line-height 14px
    img
      width 50px
.canvas
  position relative
  width  1000px
  height 800px
  float left
  border 2px solid #bbb
  border-radius 5px
  margin: 10px
  margin-top 0
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1)
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1)
  background #fff
  canvas
    position absolute
svg
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
svg:not(.active):not(.ctrl)
  cursor: crosshair;
path.link
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
g.node rect.bg
  fill: none
  stroke: #CACACA
g.selected.node rect.bg
  stroke-dasharray: 10px 5px
  stroke: #838383
g.node.hover rect.bg
  stroke: #838383
path.link
  cursor: pointer
path.link.dragline
  pointer-events: none;
path.link
  stroke-dasharray: 10px 0px
path.link.selected
  stroke-dasharray: 10px 5px
g.group g text.id
  cursor -webkit-grab!important
  fill #fff
g g.active text.id
  cursor -webkit-grabbing!important
text.id
  text-anchor: middle;
  font-size 10px
  font-weight 100
#overlay
  width: 100%
  height 100%
  position fixed
  background rgba(0,0,0,0)
  cursor -webkit-grabbing
  left 0
  top 0
  z-index 1000
buttonColor = #4495d3
#copy
  position fixed
  opacity 0.75
  pointer-events: none
  cursor -webkit-grabbing
.toolbar
  margin-left: 253px
  margin-top 10px
  button
    padding: 8px 10px
    border-radius 2px
    background buttonColor
    border 1px solid buttonColor - 10%
    font-size 15px
    color #ffffff
    cursor pointer
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    -ms-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s
    &:hover
      background buttonColor + 20%
      border-color buttonColor + 10%